.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.name>a {
    text-decoration: none;
    color: inherit;
}

.name>a:hover {
    text-decoration: underline;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.details>span {
    width: 25%;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.tag {
    padding: 0.2rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 0.8rem;
    color: #333;
}

.name {
    font-weight: bold;
    font-size: 1.1rem;
}