.add-restraunt {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.add-restaurant-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-restaurant-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.place-picker {
    width: 100%;
}

.place-overview {
    width: 100%;
    margin: 1rem 0;
}

.place-tags {
    
}