.add-restraunt {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.add-restaurant-content {
    flex: 2;
}

.add-restaurant-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-restraunt-footer button {
    width: 100%;
}