.map-slot {
    height: 100%;
    width: 100%;
}

.control-slot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;
}

.filter-section {
    margin-bottom: 1rem;
}

.filter-section:last-of-type {
    margin-bottom: 0;
}

.restaurant-list-wrapper {
    margin-top: 1rem;
    border-top: 1px dashed white;
    padding-top: .5rem;
}

.control-slot-section {
    margin: 1rem 0 .5rem 0;
}

.control-slot-section:first-of-type {
    margin-top: 0;
}

.control-slot-section:last-of-type {
    margin-bottom: 0;
}

.map {
    color: black;
    height: 100%;
    width: 100%;
}

.map-control-add {
    background-color: rgb(68, 68, 68);
    color: rgb(179, 179, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: none;
    user-select: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.map-control-icon {
    width: 30px;
    height: 30px;
    transition: rotate .2s ease-in-out;
}

.map-control-icon-active {
    rotate: 45deg;
}