.map-slot {
    height: 100%;
    width: 100%;
}

.control-slot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;
}

.title {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.map {
    color: black;
    height: 100%;
    width: 100%;
}